@tailwind base;

@font-face{
    font-family: Urbanist;
    src: url('../Fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9WXx0poK5.woff2');
    font-display: block;
    font-style: normal;
    font-weight: 300 900;
    font-stretch: 75% 12%;
}